<% provide(:title, 'About') %>
<h1>About</h1>
  <p>
    This website was created by <a href="http://www.andykroner.com">Andy Kroner</a> as a project for the Queen City Merge
    "Intro to Ruby on Rails" course in Spring of 2014.
  </p>
