<% provide(:title, 'About') %>
<h1>About</h1>
  <p>
    Paste a link to a recipe from <a href="http://www.allrecipes.com">Allrecipes.com</a> and see what happens.
    Yes, thats all it does right now.
  </p>
