<% provide(:title, 'Add Recipe') %>
<h1>New recipe</h1>
<p>Submit a recipe from <a href="http://www.allrecipes.com">Allrecipes.com</a></p>
<%= render 'submit_form' %>

<%= link_to 'Back', recipes_path %>
