
<span class="tag">
  <button class="btn-default btn-xs"> 
    <sup>
      <%= link_to "x",
        remove_recipe_tag_path(@recipe, tag),
        method: :delete,
        id: "delete-#{tag.name.parameterize}" %>
     </sup> 
    <%= tag.name %>
  </button>
</span>

