<footer class="footer">
  <small>
    by <a href="http://www.andykroner.com/">Andy Kroner</a>.<br>
    <%= link_to image_tag("rails.png", alt: "Rails", size: "16"), 'http://rubyonrails.org/' %>Made with Ruby on Rails.
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      
    </ul>
  </nav>
</footer>